@font-face {
	font-family: "DMSans", sans-serif;
	font-weight: 500;
	src: url(../fonts/DMSans-Medium.ttf);
}

@font-face {
	font-family: "DMSans", sans-serif;
	font-weight: 700;
	src: url(../fonts/DMSans-Bold.ttf);
}

@font-face {
	font-family: "Gilory", sans-serif;
	font-weight: 500;
	src: url(../fonts/Gilory-Medium.ttf);
}

@font-face {
	font-family: "NotoSans", sans-serif;
	font-weight: 400;
	src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
	font-family: "NotoSans", sans-serif;
	font-weight: 500;
	src: url(../fonts/NotoSans-Medium.ttf);
}

@font-face {
	font-family: "NotoSans", sans-serif;
	font-weight: 700;
	src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
	font-family: "ProductSans", sans-serif;
	font-weight: 400;
	src: url(../fonts/Product-Sans-Regular.ttf);
}

@font-face {
	font-family: "SofiaPro", sans-serif;
	font-weight: 600;
	src: url(../fonts/Sofia-Pro-Semi-Bold.otf);
}

@font-face {
	font-family: "Tomorrow", sans-serif;
	font-weight: 500;
	src: url(../fonts/Tomorrow-Medium.ttf);
}
