// fonts
$ff-primary: "NotoSans", sans-serif;
$ff-numbers: "Tomorrow", sans-serif;
$ff-wallet: "Gilory", sans-serif;
$ff-navBar: "SofiaPro", sans-serif;
$ff-transactions: "ProductSans", sans-serif;
$ff-mining: "DMSans", sans-serif;

// colors

// shadows

// resolution
// $max-width: 1170px;

// z index

// breakpoints
$tablet: 860px;
$mobile: 480px;
$s-laptop: 1024px;
