include pugMixins/mixins
doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title GND Crypt
		link(rel='stylesheet' href='./assets/styles/style.css')
	body
		main.app
			include pug/header
			include pug/sideBar
		


		script(src="./assets/script/index.js") 