.app {
	width: min(100% - 2rem, 1440px);
	margin-inline: auto;

	display: grid;
	grid-template-columns: 25rem 1fr;
	grid-template-rows: 18rem 75rem;
	grid-template-areas:
		"nav header"
		"nav main";
}
