.main {
	grid-area: main;
	display: grid;
	grid-template-columns: 47.6rem 50.6rem;
	grid-template-rows: 34.4rem 31rem;
	column-gap: 7rem;
	row-gap: 10rem;
	grid-template-areas:
		"wallet-s my-wallets"
		"info info";

	&__information {
		grid-area: info;
		display: grid;
		grid-template-columns: 21.2rem 26.2rem 32.7rem;
		grid-template-rows: 1fr;
		column-gap: 14rem;
	}

	@media screen and (max-width: $tablet) {
		grid-template-columns: 50.6rem;
		grid-template-rows: repeat(3, 1fr);
		row-gap: 7rem;
		grid-template-areas:
			"wallet-s"
			"my-wallets"
			"info";
	}
}
